/* CardNosotros.js */


.card-nosotros{display: flex;
flex-direction: start;
border-top: solid 1px #FFA9A1   ;
}



.texto-card-nosotros-imagen{width: 40vw;
height: 30vw; margin-bottom: 1%;
margin-top: 1%;border-radius: 0;}

.texto-card-nosotros-texto{width: 70vw; padding: 4%;}

.card-nosotros-texto-principal{display: flex; position: absolute ;flex-direction: column;}

