.card:hover {
   transition: all 0.7s linear;

}

.card-body {
  
}

.card-text {
  padding: 0.3rem 1rem;
  font-size: 1rem;
}

.overflow {
  overflow: hidden;
}

.card-img-top {
  transform: scale(1);
  transition: all 0.2s ease-in-out;
  border-radius: 0 !important;
}


.card {
  margin: 2%;
  border-radius: 0 !important;
  box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.357);
}

.card-title{color: BLACK; font-weight: 400; font-size:medium ;}

.card-price{font-size: large; font-weight: 500; color:#d19e66}