/* imageWithText */

.imageWithTextRight-personalize {padding: 2%;
    margin: 2%;
    border-radius: 20px;
background-color: #fff1e3;
}

.imageWithTextLeft-personalize {padding: 2%;
    margin: 2%;
    border-radius: 20px;
background-color: #fff1e3;
}
