/* imageWithText */
.container-image-with-text {
    
  
   padding: 1%;
   background-color: #fff;
 border-radius: 10px;
 margin: 2%;
 border-radius: 0 !important;
 box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.357);
}



.image-with-text-personalize {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 2%;
    
   
  }

  .image-with-text-personalize  p {margin: 0}

  