/* imageWithText */
.container-image-with-text {
    
    border:4px solid black;
   padding: 1%;
   background-color: #fff;
 border-radius: 10px;

}



.image-with-text-personalize {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 2%;
    
   
  }

  .image-with-text-personalize  p {margin: 0}

  