@font-face {
    font-family: 'AlexBrushFont';
    src: url('../assets/AlexBrush-Regular.ttf') ;
    /* Agrega más formatos si es necesario */
  }
  
  .lazos-de-paz {
    font-family: 'AlexBrushFont';
    font-size: 1.3em;
    font-weight: bold;
}

.text-link {
    font-size: medium;
    font-weight: 500;
  color: rgb(49, 48, 48);
}

.text-link:hover {
    transform: scale(1.05);
    color: #000;
}

.navbar-custom{background-color: #FFA9A1 ; margin: 0;width: auto;}
