.wsp-float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
  transition: .3s;
  z-index:100;
}
.wsp-float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.wsp-my-float{
	margin-top:16px;
}

